@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Didact Gothic', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shadow-right{
  box-shadow: inset -1px 0 50px -30px rgba(63, 63, 63, 0.23);
}

.shadow-left {
  background-color: red;
}


@layer components {
  .error-message{
    @apply text-red-500 text-sm ml-0.5
  }
  input {
    @apply bg-white ml-0.5 p-2 border-2 w-full text-gray-800 disabled:bg-gray-100
  }
}